# === Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
terraform.tfvars

# Generated Terraform output
output.json


# === Python (for Lambda) ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
env/
venv/
.Python
pip-log.txt

# === Lambda deployment artifacts ===
*.zip

# === AWS credentials (if accidentally stored locally) ===
*.pem
*.key
*.crt
*.env
.env.*

# === IDEs ===
.vscode/
.idea/
*.swp
*.swo
*.bak

# === macOS/Linux ===
.DS_Store
Thumbs.db
.cache/

# === Pictures ===
Screenshot from 2025-07-31 12-14-58.png